<?xml version="1.0" encoding="utf-8"?>

<!-- web.config 변환 사용에 대한 자세한 내용은 https://go.microsoft.com/fwlink/?LinkId=125889를 참조하세요. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    아래 예에서, "Match" 로케이터가 "MyDB" 값을 가진 "name" 특성을 
 찾은 경우에만 "SetAttributes" 변환에서 "ReleaseSQLServer"를 
 사용하도록 "connectionString"의 값을 변경합니다.
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="BOQv5BillHost" value="211.218.125.22:39002;211.218.125.23:39002" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvFrontUrl" value="http://172.19.0.22" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvMemberUrl" value="http://172.19.0.22:8090" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvMemberStyle" value="http://172.19.0.22:8090/WowTvStyle" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvMemberScript" value="http://172.19.0.22:8090/WowTvScript" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvMemberInfoEdit" value="http://172.19.0.22:8090/Info/InfoEdit" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvHelpUrl" value="http://172.19.0.22:8091" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvMyPageUrl" value="http://172.19.0.22:8094" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="WowTvHelpInquiryUrl" value="http://172.19.0.22:8091/IntegratedBoard/Inquiry/Index?menuSeq=491" />
  </appSettings>
  <connectionStrings>
    <add name="Db49_wownet" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WWWSQL, 5049&quot;;initial catalog=wownet;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db49_wowtv" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WWWSQL, 5049&quot;;initial catalog=wowtv;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db49_Article" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WWWSQL, 5049&quot;;initial catalog=Article;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db49_editVOD" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WWWSQL, 5049&quot;;initial catalog=EditVOD;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db49_wowcafe" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WWWSQL, 5049&quot;;initial catalog=wowcafe;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db51_ARSsms" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WEBSQL, 5051&quot;;initial catalog=ARSsms;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db51_contents" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WEBSQL, 5051&quot;;initial catalog=contents;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db51_WOWMMS" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WEBSQL, 5051&quot;;initial catalog=WOWMMS;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db51_ARSConsult" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WWWSQL, 5051&quot;;initial catalog=ARSConsult;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="D22_stock" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.128.103,5022;initial catalog=stock;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db90_DNRS" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\NEWSSQL, 5090&quot;;initial catalog=DNRS;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db89_master" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\BILLSQL, 5089&quot;;initial catalog=master;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db89_wowbill" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\BILLSQL, 5089&quot;;initial catalog=wowbill;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db89_WOWTV_BILL_DB" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\BILLSQL, 5089&quot;;initial catalog=WOWTV_BILL_DB;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db89_Sleep_wowbill" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\BILLSQL, 5089&quot;;initial catalog=Sleep_wowbill;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db49_broadcast" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WWWSQL, 5049&quot;;initial catalog=broadcast;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db35_chinaguide" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\CHINASQL, 5035&quot;;initial catalog=chinaguide;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db123_WOw4989" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WOWSTARSQL, 5123&quot;;initial catalog=WOW4989;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db16_wowfa" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WWWSQL, 5049&quot;;initial catalog=wowfa;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Db51_ems50" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.128.103\WWWSQL, 5049&quot;;initial catalog=ems50;persist security info=True;user id=abcdev;password=Devabc123@!;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      아래 예에서 "Replace" 변환은 web.config 파일의 
      <customErrors> 섹션 전체를 바꿉니다.
      <system.web> 노드 아래에는 customErrors 섹션이 하나만 있기 때문에 
      "xdt:Locator" 특성을 사용할 필요가 없습니다.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    >
    -->
  </system.web>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMemberInfoService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <binding name="BasicHttpBinding_IPrivateMyPageService" maxBufferPoolSize="524288" maxBufferSize="2147483646" maxReceivedMessageSize="2147483646" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8088/Member/MemberInfoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberInfoService" contract="PriMiddleService.IMemberInfoService" name="BasicHttpBinding_IMemberInfoService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="http://localhost:8088/Member/PrivateMyPageService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrivateMyPageService" contract="PrivateMyPageService.IPrivateMyPageService" name="BasicHttpBinding_IPrivateMyPageService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>